<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=title%>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <%- include('./templates/navBar') %>
  </div>
  
  <div class="container">
  <div class="row">
    <% if (data.length > 0) { %>
      <% data.forEach((item) => { %>
        <div class="col-md-3">
          <div class="card mb-4 ">
            
            <img src="<%= item.flags %>" class="card-img-top img-fluid" alt="Country Flag">
            <div class="card-body ">
              <h5 class="card-title"><%= item.nameCommon %></h5>
              <p class="card-text"><%= item.alt %></p>
              <form method="POST" action="/saved">
                <input type="hidden" name="nameCommon" value="<%= item.nameCommon %>">
                <input type="hidden" name="nameOfficial" value="<%= item.nameOfficial %>">
                <input type="hidden" name="alt" value="<%= item.alt %>">
                <input type="hidden" name="flags" value="<%= item.flags %>">
                <button type="submit" class="btn btn-primary">Save Country</button>
              </form>
            </div>
          </div>
        </div>
      <% }) %>
    <% } else { %>
      <div class="col-md-12">
        <h3>Error</h3>
      </div>
    <% } %>
  </div>
</div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</html>